/* TODO: float left to right */

/* * {
  outline: 1px dotted red;
} */

/* ================ HEADER ================ */

/* When you are having issues with float, you must fix problems at the root level. Setting the height/width of the parent typically resolves these issues */
header {
  width: 1050px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  background: rgb(80, 80, 80);
}

/* Automatically sets left and right margins to center the element */
nav {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  color: darkgray;
}

/* Gets any img in a nav and applies these settings */
/* Sets margins of the element within the nav bar */
nav img {
  float: left;
  margin-top: 15px;
  margin-right: 30px;
}

/* Gets any li elements under ul tag in a nav and applies these settings */
/* Sets margins of the element within the nav bar */
nav ul li {
  float: left;
  margin-top: 42px;
  margin-right: 104px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  /* tells MBP's border and padding to fit inside the width (subtract from the width) */
}

/* ================ MAIN ================ */

main {
  /* NOTE ON WIDTH: The 'auto' margin is only set based on the width of the element. You need to specify a width (not 100%) before you set a margin, otherwise no margin will be set. */
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

/* > stands for direct child */
main > ul {
  /* Sets the top gutter for the list */
  margin-top: 30px;
  overflow: hidden;
  /* overflow hidden tells all content, including floats to be measured so it can check if it needs to hide them */
}

main > ul > li {
  float: left;
  margin-right: 30px;
}

main > ul > li:last-child {
  margin-right: 0px;
}

main > section {
  margin-top: 30px;
  overflow: hidden;
}

main > section > img {
  float: left;
}

article {
  float: left;
  width: 420px;
  padding-left: 30px;
}

article p {
  height: 320px;
  overflow: scroll;
}

button {
  width: 120px;
  height: 60px;
  font-size: 16px;
  background: black;
  color: white;
}

button:hover {
  background: pink;
}

/* RULE FOR FLOATS: float the child, overflow hidden the parent */

/* ================ FOOTER ================ */
footer {
  width: 1050px;
  min-height: 100px;
  margin-left: auto;
  margin-right: auto;
  background: rgb(80, 80, 80);
}